* {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background: url("/img/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  margin: 20px;
}

.main-title {
  font-size: 5em;
}

.container {
  margin: auto;
  padding: 200px;
  text-align: center;
}

.divider {
  margin: 20px auto;
  border: 1px solid #fff;
  width: 300px;
}
